<launch>
    <node pkg="nortek_dvl" type="nortek_dvl" name="dvl" output="screen" respawn="true" >
      <param name="address" type="string" value="uwrt-dvl" />
      <param name="port" type="int" value="9004" />
      <param name="dvl_rotation" type="double" value="0" />
      <param name="dvl_topic" type="string" value="dvl" />
      <param name="status_topic" type="string" value="status" />
    </node>
</launch>
